[Unit]
Description="Run Cloudflare's DNS records update script at boot and every 5 minutes"

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=cloudflare-ddns.service

[Install]
WantedBy=multi-user.target
